@font-face{
    font-family: Mod;
    src: url(fonts/Moderustic-Medium.ttf);
}

/*TÍTULO DE MENÚ CENTRADO*/
.offcanvas-title {
    text-align: center; /* Centra el texto horizontalmente */
    width: 100%;        /* Asegura que el encabezado ocupe todo el ancho del contenedor */
}

body{
    font-family: Mod;
    background-color: rgb(255, 204, 238);
}

h2{
    color: rgb(194, 8, 138);
}

#html{
width: 800px;
height: auto;
border-radius: 10%;
margin: auto;
}

/*CONTENEDOR QUE CAMBIA DINÁMICAMENTE CON INFORMACIÓN EN JS*/
#info{
    font-size: 18px;
    color:rgb(59, 59, 59);
    padding: 80px;
    letter-spacing: 2px;
}

p:hover{
    text-shadow: 0 6px 5px rgb(226, 43, 211);
    transform: scale(1.1);
    transition: 1s ease all;
}

button:hover{
    transition: 1s ease all;
    transform: scale(1.2);
}